:root {
    --bgColor: #111116;
    --elementBgColor:#24232a;
    --textColor:#bbbac2;
    --buttonsColor:#a5ffaf
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:var(--bgColor);
}
    
.container{
    width:100vw;
    height:97vh;
    background-color:var(--bgColor);
    /* padding:10px 20px 10px 15px; */
    display: flex;
    flex-direction:column;
    align-items: center;
    gap:20px;
    padding:20px 10px 0 10px;
}
.password-container{
    width:98vw; 
    height:12%;
    background-color: var(--elementBgColor);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:30px;
}
.generatedPasswordStyle{
    font-size:25px;
    color: var(--textColor);
    word-break: break-all;
}

.password-generator-container{
    width:98vw; 
    height:190%;
    background-color: var(--elementBgColor);
    padding:30px;
   

}   
.chracterLengthContainer{
    display: flex;
    justify-content: space-between;
}
.slider{
     margin-top:30px;
}
.checkboxesStyle{
    display:flex;
    flex-direction: column;
    gap:10px;
    margin-top:25px;
    width:250px

}
.strengthContainer{
    width:94vw; 
    height:14%;
    background-color: #18171f;
    margin-top:30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 30px;
}
.passwordGenerateButton{
    width:94vw;
    height:8%;
    letter-spacing:1.5px !important;
    font-size:15px;
    margin-top:25px !important; 
    margin-bottom:30px !important;
}
.strengthStyle{
    width:8px;
    height:25px;
    border:1px solid white;
}
@media screen and (max-width: 938px){
    .strengthContainer{
        width:90vw;
    }
    .passwordGenerateButton{
        width:90vw;
    }
}
@media screen and (max-width: 409px){
    .strengthContainer{
        width:85vw;
        flex-direction: column;
        height:18%;
        gap:10px;
       justify-content: center;
    }
    .passwordGenerateButton{
        width:85vw;
    }
}

@media screen and (max-width: 318px) {
    * {
        font-size: 10px;
    }
}
